.light {
  background-color: white;
  color: black;
  height: 100vh;
  padding: 30px;
}
.dark {
  background-color: #121212;
  color: white;
  height: 100vh;
  padding: 30px;
}
button {
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}